body {
    font-family: Arial, Helvetica, sans-serif;
    color: #565656;
}

.main {
    margin: 64px auto;
    padding: 24px;
    width: 640px;
    box-sizing: border-box;
    background-color: #fae7ff;
    border: 24px solid #e7e7e7;
}

.avatar {
    float: right;
    width: 50px;
}

.main > h2 {
    color: #8f8f8f;
}

.contact {
    color: #6a737d;
}

.contact .label {
    font-weight: bold;
}

.summary .label {
    font-style: italic;
}
